@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.animatedWrapper {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  background: #f53b57;

  .navigation {
    @include size(70px, 350px);
    position: relative;
    background: $background;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

    ul {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      flex-direction: column;

      li {
        @include size(70px, calc(350px / 5));
        position: relative;
        list-style: none;
        z-index: 1;

        a {
          @include commonDisplayAttributes(flex, center, center);
          position: relative;
          width: 100%;
          text-align: center;
          color: #333;
          font-weight: 500;

          .icon {
            position: relative;
            display: block;
            line-height: 75px;
            text-align: center;
            transition: 0.5s;

            i {
              font-size: 24px;
            }
          }
          .title {
            position: absolute;
            top: 50%;
            left: 110px;
            background: $background;
            transform: translateY(-50%);
            padding: 5px 10px;
            border-radius: 6px;
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            opacity: 0;
            visibility: hidden;

            &::before {
              @include size(12px, 12px);
              content: "";
              position: absolute;
              background: $background;
              left: -8px;
              top: 46%;
              transform: rotate(45deg) translateY(-50%);
              border-radius: 2px;
            }
          }
        }

        &:hover .title {
          opacity: 1;
          visibility: visible;
          transform: translateX(-25px) translateY(-50%);
        }

        &.active a .icon {
          color: $background;
        }

        &:nth-child(1).active ~ .indicator {
          transform: translateY(calc(70px * 0));
        }

        &:nth-child(2).active ~ .indicator {
          transform: translateY(calc(70px * 1));
        }

        &:nth-child(3).active ~ .indicator {
          transform: translateY(calc(70px * 2));
        }

        &:nth-child(4).active ~ .indicator {
          transform: translateY(calc(70px * 3));
        }

        &:nth-child(5).active ~ .indicator {
          transform: translateY(calc(70px * 4));
        }

        &:nth-child(1).active ~ .indicator::before {
          background: #f53b57;
        }

        &:nth-child(2).active ~ .indicator::before {
          background: #3c40c6;
        }

        &:nth-child(3).active ~ .indicator::before {
          background: #05c46b;
        }

        &:nth-child(4).active ~ .indicator::before {
          background: #0fbcf9;
        }

        &:nth-child(5).active ~ .indicator::before {
          background: #ffa801;
        }
      }

      .indicator {
        @include size(70px, 70px);
        position: absolute;
        left: 0;
        transition: 0.5s;

        &::before {
          @include size(50px, 50px);
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          background: #333;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          transition: 0.5s;
        }
      }
    }
  }
}
