@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

section {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  width: 100%;
  background: #fff;

  header {
    @include commonDisplayAttributes(flex, space-between, center);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;

    .logo {
      img {
        position: relative;
        max-width: 200px;
      }

      i {
        font-size: 1.5em;
        cursor: pointer;
      }
    }
  }

  .navigation {
    position: absolute;
    display: flex;
    gap: 30px;
    bottom: 30px;

    li {
      position: relative;
      list-style: none;

      a {
        @include commonDisplayAttributes(flex, center, center);
        width: 80px;
        height: 80px;
        background: #fff;
        color: #333;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        font-size: 1.5em;
        text-decoration: none;

        &:hover {
          color: #f00;
        }
      }

      &.active a,
      &.active a:hover {
        background: #f00;
        color: #fff;
      }
    }
  }

  .imgScroll {
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    padding: 60px 0;
    overflow-x: hidden;

    div {
      display: flex;
      animation: imgScrollAnimated 40s linear infinite;
      animation-delay: -40s;

      &:nth-child(2) {
        animation: imgScrollAnimated2 40s linear infinite;
        animation-delay: -20s;
      }

      img {
        margin: 0 25px;
        max-width: 300px;
        border: 10px solid transparent;
        transition: 0.25s;

        &:hover {
          border: 10px solid #fff;
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        }
      }
    }

    &:hover div img {
      opacity: 0.05;
      filter: blur(5px);

      &:hover {
        opacity: 1;
        filter: blur(0px);
      }
    }

    &:hover div,
    &:hover div:nth-child(2) {
      animation-play-state: paused;
    }
  }
}

@keyframes imgScrollAnimated {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes imgScrollAnimated2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
