@import "../styles/_mixins.scss";

.mainWrapper {
  @include size(100%, 100vh);
  background: gainsboro;

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    text-decoration: none;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
      width: 220px;
      height: 220px;
      border: 2px solid gray;

      img {
        margin: 20px 0;
        width: 120px;
        height: 120px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
