@mixin singUpDetailText {
  p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin sizeLeftorRight($left: null, $right: null, $top: null, $bottom: null) {
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin marginHandler($bottom: null, $top: null, $left: null, $right: null) {
  bottom: $bottom;
  top: $top;
  left: $left;
  right: $right;
}

@mixin commonDisplayAttributes($display, $justify: null, $align: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
