@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.header {
  @include commonDisplayAttributes(flex, center, center);
  position: sticky;
  height: 3rem;
  background-color: gainsboro;
  border-bottom: 2px solid;
  font-weight: 900;
  z-index: 100;

  .headerLink {
    position: absolute;
    left: 0;
    padding-left: 20px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
      padding-left: 20px;

      &:hover {
        color: $commonColor;
      }
    }

    span:hover {
      color: $commonColor;
    }
  }
}
