@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.passwordCheckerWrapper {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  background: #222;

  .container {
    @include commonDisplayAttributes(flex, center);
    position: relative;
    width: 400px;
    padding: 30px;
    background: #333;
    flex-direction: column;
    border: 1px solid #111;
    gap: 10px;
    padding-bottom: 70px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0005);

    h2 {
      color: #666;
      font-weight: 500;
    }
    .inputBox {
      position: relative;
      width: 100%;

      input {
        position: relative;
        width: 100%;
        background: #222;
        border: none;
        outline: none;
        padding: 10px;
        color: #fff;
        font-size: 1.1em;
      }
    }
    .strengthMeter {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #222;

      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        transition: 0.5s;
        background: #f00;
      }
      &::after {
        position: absolute;
        top: -45px;
        left: 30px;
        color: #fff;
        transition: 0.5s;
      }
    }
    .show {
      @include commonDisplayAttributes(flex, center, center);
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      background: #333;
      border: 6px solid #222;
      cursor: pointer;

      &::before {
        content: "Show";
        font-size: 0.6em;
        color: #fff;
        letter-spacing: 0.15em;
        text-transform: uppercase;
      }
      &.hide::before {
        content: "Hide";
      }
    }
    &.weak .strengthMeter::before {
      width: 10%;
      background: #f00;
      filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00) drop-shadow(0 0 20px #f00);
    }
    &.medium .strengthMeter::before {
      width: 66.66%;
      background: #ffa500;
      filter: drop-shadow(0 0 5px #ffa500) drop-shadow(0 0 10px #ffa500) drop-shadow(0 0 20px #ffa500);
    }
    &.strong .strengthMeter::before {
      width: 100%;
      background: #0f0;
      filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 10px #0f0) drop-shadow(0 0 20px #0f0);
    }
    &.weak .strengthMeter::after {
      content: "Your Password is Weak";
      filter: drop-shadow(0 0 5px #f00);
    }
    &.medium .strengthMeter::after {
      content: "Your Password is medium";
      filter: drop-shadow(0 0 5px #ffa500);
    }
    &.strong .strengthMeter::after {
      content: "Your Password is strong";
      filter: drop-shadow(0 0 5px #0f0);
    }
  }
}
