@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.productCardWrapper {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  background: #151515;

  .colaCard {
    @include commonDisplayAttributes(flex, center, center);
    position: relative;
    width: 350px;
    height: 350px;
    transition: 0.5s;
    transition-delay: 0.5s;

    .circle {
      @include commonDisplayAttributes(flex, center, center);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 350px;
        border: 8px solid var(--clr);
        border-radius: 50%;
        background: #191919;
        filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
        transition: 0.5s, background 0.5s;
        transition-delay: 0.75s, 1s;
      }

      .logo {
        position: relative;
        width: 250px;
        transition: 0.5s;
        transition-delay: 0.5s;
      }
    }

    .colaContent {
      position: absolute;
      width: 50%;
      left: 0;
      padding: 20px 20px 20px 40px;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;

      h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 2.5em;
        line-height: 1em;
      }

      p {
        color: #fff;
      }

      a {
        position: relative;
        color: #111;
        background: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        margin-top: 10px;
      }
    }

    .product_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0) rotate(315deg);
      height: 300px;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      width: 600px;
      transition-delay: 0.5s;

      .logo {
        transform: scale(0);
        transition-delay: 0s;
      }

      .colaContent {
        transition-delay: 0.75s;
        opacity: 1;
        visibility: visible;
        left: 20;
      }

      .product_img {
        top: 25%;
        left: 72%;
        height: 500px;
        transform: translate(-50%, -50%) scale(1) rotate(15deg);
        transition-delay: 0.75s;
      }

      .circle::before {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: var(--clr);
        transition-delay: 0.5s;
      }
    }
  }
}
