@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.responsiveCardWrapper {
  @include commonDisplayAttributes(flex, center, center);
  flex-wrap: wrap;
  min-height: 100vh;

  .card {
    @include commonDisplayAttributes(flex, flex-start, center);
    @include size(300px, 350px);
    position: relative;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;

    &:hover {
      width: 600px;
      transition-delay: 0s;

      .circle .logo {
        transform: scale(0);
        transition-delay: 0s;
      }

      .content {
        left: 0;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
      }

      .product_img {
        left: 72%;
        transform: translate(-50%, -50%) scale(1);
        transition-delay: 0.5s;
      }
    }

    .circle {
      @include commonDisplayAttributes(flex, center, center);
      @include size(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
      overflow: hidden;

      &::before {
        @include size(100%, 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: var(--clr);
        clip-path: circle(120px at center);
        transition: 0.5s;
      }

      .logo {
        position: relative;
        width: 200px;
        transition: 0.5s;
        transition-delay: 0.5s;
      }
    }
    &:hover .circle::before {
      clip-path: circle(400px at center);
    }

    .content {
      position: relative;
      width: 50%;
      left: 20%;
      padding: 20px 20px 20px 40px;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;

      h2 {
        color: $background;
        text-transform: uppercase;
        font-size: 2.5em;
        line-height: 1em;
      }

      p {
        color: $background;
      }

      a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 10px;
        background: $background;
        color: #111;
        font-weight: 500;
        text-decoration: none;
      }
    }

    .product_img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 500px;
      transform: translate(50%, -50%) scale(0);
      transition: 0.5s;
      transition-delay: 0s;
    }
  }
}

@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;

    &:hover {
      height: 600px;

      .product_img {
        top: initial;
        bottom: 30px;
        left: 50%;
        height: 300px;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .content {
      width: 100%;
      left: 0;
      padding: 40px;
    }
  }
}
