@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.sunEffect {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  background: rgba(4, 6, 29);

  .box {
    @include commonDisplayAttributes(flex, center, center);
    position: relative;
    width: 500px;
    height: 500px;
    animation: sunAnimate 10s linear infinite;
    span {
      position: absolute;
      width: 10px;
      height: 250px;
      transform: rotate(calc(22.5deg * var(--i)));

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 400px;
        background: #ff0000;
        box-shadow: 0 0 200px #ff0000;
        border-radius: 50%;
        animation: sunAnimate1 10s linear infinite;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 300px;
        background: #ffe600;
        box-shadow: 0 0 200px #ff0000;
        border-radius: 50%;
        animation: sunAnimate2 10s linear infinite;
      }
    }
  }
}

@keyframes sunAnimate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes sunAnimate1 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes sunAnimate2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
