@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.tabMenuWrapper {
  @include commonDisplayAttributes(flex, center, center);
  min-height: 100vh;
  background: #222327;

  .navigation {
    position: relative;
    width: 450px;
    height: 80px;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    border-radius: 10px;

    ul {
      position: relative;
      display: flex;
      width: 400px;

      li {
        position: relative;
        list-style: none;
        width: 80px;
        height: 80px;

        a {
          @include commonDisplayAttributes(flex, center, center);
          position: relative;
          flex-direction: column;
          width: 100%;
          text-align: center;
          font-weight: 500;

          .icon {
            position: relative;
            display: block;
            line-height: 85px;
            font-size: 1.5em;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            transition: 0.5s;
          }

          &:hover .icon {
            color: rgba(255, 255, 255, 1);
          }

          .text {
            position: absolute;
            font-weight: 600;
            font-size: 0.6em;
            color: #222327;
            text-transform: uppercase;
            transform: translateY(0px);
            letter-spacing: 0.05em;
            opacity: 0;
            z-index: 10;
          }
        }

        &.active a .icon {
          color: #29fd53;
          transform: translateY(-8px);
        }
        &.active a .text {
          opacity: 1;
          transform: translateY(16px);
        }

        &:nth-child(2).active ~ .indicator {
          transform: translateX(calc(80px * 1));
        }
        &:nth-child(3).active ~ .indicator {
          transform: translateX(calc(80px * 2));
        }
        &:nth-child(4).active ~ .indicator {
          transform: translateX(calc(80px * 3));
        }
        &:nth-child(5).active ~ .indicator {
          transform: translateX(calc(80px * 4));
        }
      }

      .indicator {
        @include commonDisplayAttributes(flex, center, center);
        position: absolute;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: 0.5s;

        &::before {
          content: "";
          position: absolute;
          bottom: 14px;
          width: 80%;
          height: 16px;
          background: #29fd53;
          border-radius: 10px;
        }
      }
    }
  }
}
